@model CloudComputingPT.Models.BookingDetails

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

    <h4>Booking Details</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <label>Click on Residing Address</label>
            <div id="mapid"></div>
            <label>Click on Destination Address</label>
            <div id="mapid2"></div>
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Residing Address</label>
                    <input id="residingAdress" asp-for="residingAdress" class="form-control" />
                    <span asp-validation-for="residingAdress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Destination Address</label>
                    <input id="destinationAddress" asp-for="destinationAddress" class="form-control" />
                    <span asp-validation-for="destinationAddress" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="isBookingConfirmed" /> Booking Confirmation
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="luxury" /> Luxury
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="economy" /> Economy
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="business" /> Business
                    </label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>
</html>
