@model IEnumerable<CloudComputingPT.Models.Categories>
@using Microsoft.AspNetCore.Identity

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Categories Prices</title>
</head>
<body>
    @if (User.IsInRole("Admin"))
    {
        <p>
            <a asp-action="Create">Create New</a>
        </p>          
    }
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Categories
                    </th>
                    <th>
                        Flat Price
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.categories)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.flatPrice)
                        </td>
                        <td>
                            @if (User.IsInRole("Admin"))
                            {
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
</html>
